html, body{
    overscroll-behavior: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: ralewayL;
    src: url(./fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: poppinL;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: ralewayB;
    src: url(./fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: poppinB;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: poppinR;
    src: url(./fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: ralewayR;
    src: url(./fonts/Raleway-Regular.ttf);
}




/* NAVBAR */

nav{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: ralewayL;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}
.name-about > h1{
    /* font-family: ralewayL; */
    font-size: 32px;
    position: relative;
    letter-spacing: 5px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: yellowgreen;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

/* ABOUT */
.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0px 15%;
    background-color: #F8F8F8;
    position: relative;
    text-align: center;
}
.info-about{
    width: 35vw;
    
}

.info-about > h1{
    font-family: poppinB;
    font-size: 62px;
}
.info-about > p{
    font-family: poppinR;
    font-size: 32px;
}
.img-svg{
    /* background-color: rgba(170, 255, 0, 0.468); */
    margin-bottom: 25%;
}
.img-svg > img{
    display: inline-block;
    width: 400px;
    border-radius: 50%;
    position: relative;
    top: 70px;
    left: 75px; 
}
.circle{
    height: 450px;
    width: 450px;
    background-color: #0602e760;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    
}


/* PROJECTS  */
.project-main{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 10vh;
    text-align: center;
    margin-bottom: 150px;
}

.project-1, 
.project-2,
.project-3,
.project-4{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    margin: 25px 0px;
}
.img-1 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    top: 0;
}
.img-1 > .shape-1{
    background-color: #e57a0090;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 1%;
}
.info{
    background-color: #F8F8F8;
    margin: 0px 5%;
    max-height: 300px;
    padding: 40px;
    overflow: hidden;
}
.info > h1{
    font-family: ralewayL;
    font-size: 32px;
}
.info > p{
    font-family: poppinl;
    font-size: 18px;
}

.img-2 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    position: relative;
    top: 0;
}
.img-2 > .shape-2{
    background-color: #4C059490;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 29%;
    right: 1%;
    
}

.img-3 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    top: 0;
}
.img-3 > .shape-3{
    background-color: #E5E33F90;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 2%;
    
}
.img-4 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    position: relative;
    top: 0;
}
.img-4 > .shape-4{
    background-color: #357ECD90;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 76%;
    right: 1%;
    
}

/* PROJECTS DIF DEVICES*/
.project-content-device{
    display: none;
}
/* RESUME */

.resume-content{
    /* background-color: red; */
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: #f0efef;
}

.resume-shape-1{
    background-color: #E57C0090;
    position: absolute;
    height: 500px;
    width: 950px;
    top: 0;
    left: 0;
}

.resume-shape-2{
    background-color: #24C44290;
    position: absolute;
    height: 350px;
    width: 900px;
    top: 0;
    right: 0;
}
.resume-shape-3{
    background-color: #CA14CE90;
    position: absolute;
    height: 562px;
    width: 700px;
    top: 40%;
    left: 0;
}
.resume-main{
    position: absolute;
    top: 8%;
    left: 25%;
    height: 85%;
    width: 50%;
}
.resume-main > img{
    position: relative;
    top: 10%;
    left: 15%;
    height: 72vh;
    min-width: 35vw;
}



/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    background-color: #F8F8F8;
    text-align: center;
}
.ul-footer > h1{
    font-family: ralewayL;
    padding-bottom: 10px; 
}
.ul-footer > li{
    list-style: none;
    display: inline-block;
    font-family: ralewayB;
    padding-left: 30px;
}
.ul-footer > li a{
    text-decoration: none;
}
i{
    font-size: 3rem;
}
.fa-instagram{
    color: #357ECD90;
}
.fa-facebook{
    color: #CA14CE90;
}
.fa-linkedin{
    color: #E5E33F;
}
.fa-envelope-open-text{
    color: #CE141F90;
}
.fa-github{
    color: #24C44290;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  } 

  /* media queries */
  @media screen and (max-width: 1024px){
      .nav-links{
          width: 40%;
      }
      .main-about{
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .info-about{
          min-width: 43vw;
      }
      
      .img-svg > img{
        display: inline-block;
        width: 375px;
        border-radius: 50%;
        position: relative;
        top: 70px;
        left: 0px;
    }
    .circle{
        height: 400px;
        width: 400px;
        background-color: #0602e760;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 50px;
        
    }
    .info-about > h1{
        font-family: poppinB;
        font-size: 32px;
    }
    .info-about > p{
        font-family: poppinR;
        font-size: 24px;
    }
  }

  @media screen and (max-width: 768px) and (max-height: 681px){
      body{
          overflow-x: hidden;
          overflow-y: hidden;
      }
      .nav-links{
          position: absolute;
          right: 0px;
          height: 92vh;
          top: 8vh;
          background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translateX(100%); 
          transition: transform 0.5s ease-in;
      }
      .nav-links li{
          opacity: 0;
      }
      .nav-links  a{
          color:white;
          font-family: ralewayB;
      }
      .burger{
          display: block;
          cursor: pointer;
      }
      .nav-active{
          transform: translateX(0%);
      }
      .img-svg{
        /* background-color: rgba(170, 255, 0, 0.468); */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25%;
        position: absolute;
        top: 10px;
    }
    .img-svg > img{
        display: inline-block;
        width: 200px;
        border-radius: 50%;
        position: relative;
        top: 50px;
        
    }
    .circle{
        height: 220px;
        width: 210px;
        background-color: #0602e760;
        border-radius: 50%;
        position: absolute;
        top: 70px;
        right: 70px;
    }
    .main-about{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-about{
        /* background-color: cornflowerblue; */
        position: relative;
        top: 130px;
    }
    .info-about > h1{
        font-size: 18px;
        
    }
    .info-about > p{
    font-size: 15px;
    }
    .project-content{
        display: none;
    }
    .project-content-device{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .project1, .project2, .project3, .project4{
        padding: 20px;
    }
    .project1 img{
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .project2 img{
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .project3 img{
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .project4 img{
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
        background-color: #F8F8F8;
        text-align: center;
        
    }
      .ball{
          display: none;
      }
  
    }

  @keyframes navLinkFade{
      from{
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    background: linear-gradient(#e66465, #9198e5);       
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    background: linear-gradient(#dde664, #91d8e5);
  }

@media screen and (max-width: 454px){
    .info-about{
        min-width: 70vw;
    }
    .img-svg > img{
        display: inline-block;
        width: 200px;
        border-radius: 50%;
        position: relative;
        top: 50px;
        
    }
    .circle{
        height: 210px;
        width: 200px;
        background-color: #0602e760;
        border-radius: 50%;
        position: absolute;
        top: 70px;
        
    }
}