html, body{
    overscroll-behavior: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: ralewayL;
    src: url(./fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: poppinL;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: ralewayB;
    src: url(./fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: poppinB;
    src: url(./fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: poppinR;
    src: url(./fonts/Poppins-Regular.ttf);
}




/* about */
.about-content{
    min-height: 88vh;
    min-width: 100vw;
    background-color: crimson;
    text-align: center;
    position: relative;

}
.nav-about{
    background-color: darkgrey;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    min-height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8%;
    background-color: #F8F8F8;
    
}
.name-about > h1{
    font-family: ralewayL;
    font-size: 48px;
    position: relative;
    letter-spacing: 3px;
}
.first-ab{
    top: 25px
}
.mid-ab{
    top: 7px;
    left: 4.3rem;
    padding-bottom: 12px;
}
.ul-nav > li{
    display: inline-block;
    padding-left: 10rem;
    font-family: poppinl;
    font-size: 26px;
    word-spacing: 2px;
    list-style: none;
}

.ul-nav > li a{
    color: black;
    text-decoration: none;
}
.main-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 88vh;
    padding: 0px 15%;
    background-color: #F8F8F8;
    position: relative;
    top: 13vh;
}
.info-about{
    max-width: 35vw;
    
}

.info-about > h1{
    font-family: poppinB;
    font-size: 62px;
}
.info-about > p{
    font-family: poppinR;
    font-size: 32px;
}
.img-svg{
    /* background-color: rgba(170, 255, 0, 0.468); */
    margin-bottom: 25%;
}
.img-svg > img{
    display: inline-block;
    width: 400px;
    border-radius: 50%;
    position: relative;
    top: 20rem;
    left: 75px; 
    z-index: 1;
}
.circle{
    height: 450px;
    width: 450px;
    background-color: #0602e760;
    border-radius: 50%;
    position: relative;
    top: 0;
    
}



/* projects */
.project-content{
    min-height: 264vh;
    min-width: 100vh;
    text-align: center;
    margin-bottom: 300px;
}

.project-main{
    width: 99vw;
    min-height: 100vh;
    position: relative;
    top: 20vh;
}

.project-1, 
.project-2,
.project-3,
.project-4{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    margin: 25px 0px;
}
.img-1 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 0;
}
.img-1 > .shape-1{
    background-color: #e57a0090;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 1%;
    
}
.info{
    background-color: #F8F8F8;
    margin: 0px 5%;
    max-height: 400px;
    padding: 40px;
    overflow: scroll;
}
.info > h1{
    font-family: ralewayL;
    font-size: 32px;
}
.info > p{
    font-family: poppinl;
    font-size: 18px;
}

.img-2 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    z-index: 1;
    position: relative;
    top: 0;
}
.img-2 > .shape-2{
    background-color: #4C059490;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 29%;
    right: 1%;
    
}

.img-3 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 0;
}
.img-3 > .shape-3{
    background-color: #E5E33F90;
    width: 450px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 2%;
    
}


.img-4 > img{
    display: inline-block;
    width: 450px;
    height: 500px;
    z-index: 1;
    position: relative;
    top: 0;
}
.img-4 > .shape-4{
    background-color: #357ECD90;
    width: 450px;
    height: 500px;
    position: absolute;
    top: 76%;
    right: 1%;
    
}


/* RESUME */

.resume-content{
    /* background-color: red; */
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: #f0efef;
}

.resume-shape-1{
    background-color: #E57C0090;
    position: absolute;
    height: 500px;
    width: 950px;
    top: 0;
    left: 0;
}

.resume-shape-2{
    background-color: #24C44290;
    position: absolute;
    height: 350px;
    width: 900px;
    top: 0;
    right: 0;
}
.resume-shape-3{
    background-color: #CA14CE90;
    position: absolute;
    height: 562px;
    width: 700px;
    top: 40%;
    left: 0;
}
.resume-main{
    position: absolute;
    top: 8%;
    left: 25%;
    height: 85%;
    width: 50%;
}
.resume-main > img{
    position: relative;
    top: 10%;
    left: 15%;
    height: 72vh;
    min-width: 35vw;
}



/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    background-color: #F8F8F8;
    text-align: center;
}
.ul-footer > h1{
    font-family: ralewayL;
    padding-bottom: 10px; 
}
.ul-footer > li{
    list-style: none;
    display: inline-block;
    font-family: ralewayB;
    padding-left: 30px;
}
.ul-footer > li a{
    text-decoration: none;
}
i{
    font-size: 3rem;
}
.fa-instagram{
    color: #357ECD90;
}
.fa-facebook{
    color: #CA14CE90;
}
.fa-linkedin{
    color: #E5E33F;
}
.fa-envelope-open-text{
    color: #CE141F90;
}
.fa-github{
    color: #24C44290;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  } 